.container {
 padding: 1rem;
 height: 70px;
 width: 100%;
}
.wrapper {
 height: 100%;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
/* left Side  */
.leftSide {
  display: flex;
  align-items: center;
  gap: 15px;
}
.leftSide > img {
    width: 40px;
    height: 40px;
}
.menuIcon {
    font-size: 30px;
    cursor: pointer;
}
.centerSide {
 width: 300px;
 height: 90%;
 display: flex;
 border: 1px solid #444;
 border-radius: 12px;
 overflow: hidden;
}
.centerSide > input {
    height: 100%;
    width: 88%;
    border: none;
    outline: none;
    padding-left: 1rem;
    font-size: 18px;
}
.centerSide:focus-within {
    border-color: #888;
}
.centerSide .searchIcon {
    height: 100%;
    width: 12%;
    padding: 0.25rem;
    background-color: rgb(78,66,66);
    cursor: pointer;
}
/* Right Side */
.rightSide {
    display: flex;
    align-items: center;
    gap: 16px;
}

.rightSide > * {
    cursor: pointer;
}
.rightSide .profileCircle {
    background-color: rgb(66,66,209);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightSide .profileCircle span {
    background-color: transparent;
}